.item {
    padding: 10px;
    margin: 5px;
    background: #9E9E9E;
    color: #FFD700;
    border: 1px solid #8B6F4E;
    border-radius: 5px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: #D9C7A1;
    padding: 10px 20px;
    color: #7B2C2C;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
.logoDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gold_img{
    padding-right: 1rem;
}
body{
    background-color: #D9C7A1;
}
a{
    color: #7B2C2C;
    text-decoration: none;
}
.gold_img{
    max-height: 3rem;
}
#search{
    background-color: #9E9E9E;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    border: 1px solid #8B6F4E;
    border-radius: 5px;
    color: #7B2C2C;
}
.filter{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    background-color: #7B2C2C;
    border-radius: 5px;
    text-shadow: 1px 1px black;
}
#priceFilter, #updatedFilter, #nameFilter, #volumeFilter, #prevButton{
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 1.5rem;
    color: #8B6F4E;
    height: 50%;
    padding: 10px 16px;
    background: #7B2C2C;
    transition: all .2s ease;
    margin-right: .5rem;
    margin-left: .5rem;
    margin-top: .5rem;
    cursor: pointer;
    border: none;
    text-shadow: 1px 1px black;
    border-radius: 5px;
}
button:active {
  transform: scale(0.97);
}
.filter_title{
    margin-left: 1rem;
    color: #8B6F4E;
}
#image{
    width: 5rem;
    height: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#item_name{
    font-size: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #8B6F4E;
}
.details{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #7B2C2C;
}
#nextButton{
    font-size: 1.5rem;
    color: #8B6F4E;
    height: 50%;
    padding: 10px 16px;
    background: #7B2C2C;
    transition: all .2s ease;
    margin-right: .5rem;
    margin-left: .5rem;
    margin-top: .5rem;
    cursor: pointer;
    border: none;
    float: right;
    text-shadow: 1px 1px black;
    font-family: "Times New Roman";
    font-weight: bold;
    border-radius: 5px;
}
#text{
    font-size: 1.5rem;
}